body{
	--display_background:black;
	--screen_color:white;
	--text_color:black;

}

input[type="text"]{
	height: 30vh;
	width: 70vw;
	background-color:var(--screen_color);
	margin-left: 75px;
	margin-top: 20px;
	font-size:5rem;
}
#closebox{
	height:60vh;
	width: 80vw;
	margin-top: 5%;
	margin-left:10%;
	border: 7px solid #5339de;
	background:linear-gradient(red,orange);
}

#press_button{
	margin-left:45%;
	margin-top:32%; 
	background-color:blue;
	font-family:fantasy;
	color: white;
	font-size: 1.3em;
}

#main_calculator{
	visibility: hidden;
}

#main_calculator:target{
	visibility: visible;
	#closebox{
		visibility: hidden;
	}
}

#main_calculator:target:#closebox{
	visibility: hidden;
}


#display{
	height: 40vh;
	margin-left:10%;
	width: 80vw;
	border: 7px solid #5339de;
	box-shadow: 20px -20px blur gray;
	background-color: var(--display_background);
}
#screen{
	height: 30vh;
	width: 70vw;
	background-color:var(--screen_color);
	

}

#keyboard{
	display: flex;
	flex-direction: row;
	margin-left:10%;
	height: 40vh;
	width: 80vw;
	border: 7px solid #5339de;
}




#numbers{
	height:40vh;
	width: 40vw; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
}

.digit{
	height: 10vh;
	width: 13vw;
	
	border-radius: 50%; 
	font-size: xx-large;
	text-align: center;
	padding-top: 20px;
	box-shadow: 4px 4px 2px 2px gray;
}
#partation{
	height: 40vh;
	width:0px;
	box-shadow: 0px 0px 2px 1px gray;
}

#operators{
	width: 40vw;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.op{
	height: 10vh;
	width:13vw;
	box-shadow: 0px 4px 4px 3px lightgray;
	border-radius: 50%; 
	font-size: xx-large;
	margin-right:3px;
	margin-left: 1 px;
	text-align: center;
	padding-top: 20px;
	text-decoration: none;
}






@media screen and (max-width: 600px){
	#display{
	width:80vw;
	padding: 0px;
	}
	#numbers {
	height:40vh;
	width: 45vw;
	}	
	#operators{
	height:20vh;
	width: 45vw; 
	}
	#equal{
		width:12vw;
		margin-left:px;
		margin-top: -185px;
	}
	input[type="text"]{
	height: 40vh;
	width: 80vw;
	margin: 0px;
	}
	#closebox{
		visibility: hidden;

	}
	#main_calculator{
	visibility: visible;
	margin-top: -60vh; 
	}
}


}